arm64/proprietary/product/priv-app/GmsCore/GmsCore.apk filter=lfs diff=lfs merge=lfs -text
arm64/proprietary/product/priv-app/Velvet/Velvet.apk filter=lfs diff=lfs merge=lfs -text
arm64/proprietary/product/priv-app/DevicePersonalizationServices/DevicePersonalizationServices.apk filter=lfs diff=lfs merge=lfs -text
arm64/proprietary/product/app/LatinIMEGooglePrebuilt/LatinIMEGooglePrebuilt.apk filter=lfs diff=lfs merge=lfs -text
